[include]
	# local/private config
	path = ~/.gitconfig.sec

[user]
	name = Robert Kernan

[core]
	editor = $EDITOR
	excludesfile = ~/.gitignore

[color]
	branch = auto
	diff = auto
	status = auto
	showbranch = auto
	ui = auto

[color "status"]
	added = green
	changed = yellow
	untracked = red

[status]
	showUntrackedFiles = all

[push]
	default = simple

[branch]
	autosetuprebase = always

[merge]
	tool = nvim.fugitive

[mergetool "nvim.fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"

[rerere]
	enabled = 1

[alias]
	a = add
	ai = add --interactive
	aa = add --all
	ap = add --patch
	amend = commit --amend
	br = branch
	ci = commit
	co = checkout
	fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autosquash $TARGET^; }; f"
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	prune = fetch --prune
	stash-all = stash save --include-untracked
	stat = status -s
