[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "zsh/plugin/syntax-highlighting"]
	path = zsh/plugin/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
