[submodule "vim/bundle/neobundle"]
	path = vim/bundle/neobundle
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "prezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
