configuration {
	font: "Fira Mono 10";
	terminal: "kitty";
	ssh-command: "{terminal} {ssh-client} {host}";
	run-shell-command: "{terminal} {cmd}";
	disable-history: true;
	sort: true;
	matching: "fuzzy";
	theme: "gruvbox-dark";
}
