#!/usr/bin/env sh

if [ -e "${HOME}/.profile" ]; then
  source "${HOME}/.profile"
fi

light-locker --lock-after-screensaver=3 --lock-on-suspend &
udiskie --automount --notify --smart-tray --file-manager 'termite -d' &

export PATH=$HOME/bin:$PATH
