# Global snippets

# copyright
snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:Robert Kernan}. All Rights Reserved.${2}
# date (short)
snippet date
	`strftime("%Y-%m-%d")`
# date (line)
snippet ddate
	`strftime("%B %d, %Y")`
